<div class="container-fluid">
    <br>
    <img class="imageview" src="http://localhost:8090/{{record.image}}">

    <div class="data">
    <h2>Bookname:{{record.name}}</h2>
    <h3><b>price:</b>
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
            <g id="Group_2727" data-name="Group 2727" transform="translate(-19191 -545)">
              <rect id="Rectangle_1690" data-name="Rectangle 1690" width="30" height="30" transform="translate(19191 545)" fill="#fff" opacity="0"/>
              <g id="noun_Rupee_1792818" transform="translate(19178.301 541.2)">
                <g id="Group_2726" data-name="Group 2726" transform="translate(22.7 11.8)">
                  <path id="Path_5293" data-name="Path 5293" d="M32.105,12.806H23.153a.453.453,0,1,1,0-.906h8.952a.453.453,0,0,1,0,.906Z" transform="translate(-22.7 -11.882)" fill="#f37021"/>
                  <path id="Path_5294" data-name="Path 5294" d="M32.105,32.806H23.153a.453.453,0,1,1,0-.906h8.952a.453.453,0,0,1,0,.906Z" transform="translate(-22.7 -28.258)" fill="#f37021"/>
                  <path id="Path_5295" data-name="Path 5295" d="M25.781,19.375H23.153a.453.453,0,1,1,0-.906h2.628a2.881,2.881,0,1,0,0-5.763H23.153a.453.453,0,1,1,0-.906h2.628a3.787,3.787,0,1,1,0,7.575Z" transform="translate(-22.7 -11.8)" fill="#f37021"/>
                  <path id="Path_5296" data-name="Path 5296" d="M29.671,55.788a.424.424,0,0,1-.308-.127L22.875,49.41a.449.449,0,0,1,.616-.652l6.487,6.234a.454.454,0,0,1,.018.634A.439.439,0,0,1,29.671,55.788Z" transform="translate(-22.73 -41.962)" fill="#f37021"/>
                </g>
              </g>
            </g>
          </svg>
        {{record.price}}.Rs
       </h3>
    <h3><b>Author:</b>{{record.author}}</h3>
    <h5><b>pages:</b>{{record.pages}}</h5>

    <h6><b>Description:</b>{{record.description}}</h6>

    <button class="btn btn-success" (click)="add()">Add to cart</button>&nbsp;
    <button class="btn btn-danger" routerLink="/home">GO Back</button>


    
</div>
<div class="comment">
<div style="overflow: hidden; margin: 30px;">
<h3 [style.color]="'darkblue'">Comment</h3>
<app-comments *ngFor="let x of comments" [comment]="x"></app-comments>
<h3>Send your comment....</h3>
<app-comment-form [id]="record.id"></app-comment-form>
</div>
</div>
</div>
