<a routerLink="home/{{book.id}}">
    <div class="bookitem">
       <div class="image">
           <img src="http://localhost:8090/{{book.image}}">
       </div>   
  <div class="default">
        <h5 style="text-align: center;text-shadow: 2px 2px 2px gray;">Name:{{book.name}}</h5>
        <h5 style="text-align: center;text-shadow: 2px 2px 2px gray;">price:{{book.price}}</h5>
        <h5 style="text-align: center;text-shadow: 2px 2px 2px gray;">Author:{{book.author}}</h5>


        
  
    </div>
    </div> 
    </a> 